<div class="center jumbotron">
  <h2>Maceta is a tool to help track your plants!</h2>

  <div class="row">
    <h3>With this tool, you will be able to:</h3>
    <ul class="feature-list list-unstyled">
      <li>Organize by scientific and common names.</li>
      <li>Keep a log of your plants' progress, milestones, and issues.</li>
      <li>Upload pictures of your plants.</li>
      <li>Set watering schedules and get notifications when it's time to water.</li>
      <li>
        Give your plants cute nicknames for easy reference
        <%= emojify ":sparkling_heart::seedling:" %>.
      </li>
    </ul>
  </div>
</div>
