@import "bootstrap-sprockets";
@import "bootstrap";
@import 'colors';

h1, h2, h3, h4, h5, h6, div, p{
  font-family: Consolas, monaco, monospace;
}

.center {
  text-align: center;
}

body {
  padding-top: 60px;
  background: rgba($sundance, .3);
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $conifer;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

.navbar {
  background-color: $plum;
  border-color: $plum;
}

.navbar .nav > li > a {
  color: $conifer;
}

.jumbotron {
  background: rgba(0, 0, 0, 0);
  color: $blue-bayoux;
}
